@import 'base/fonts';
@import 'base/variables';

* {
    font-family: Roboto;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/plus';
@import 'blocks/job';
@import 'blocks/line';
@import 'blocks/description';
@import 'blocks/agent';
@import 'blocks/price';