.consultation {
    position: relative;
    max-height: 372px;
    padding: 28px 0 58px 0;
    &__subheader {
        margin: 0;
        text-align: center;
        color: #3a3a3a;
        font-size: 28px;
        font-weight: 400;
    }
    &__round {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        background-color: $two_color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 102px;
        border: 1px solid $main_color;
        border-radius: 50%;
    }
    &__rectangle{
        position: absolute;
        margin-top: 70px;
        width: 1140px;
        height: 166px;
        border: 2px solid;
        border-color: #898989;
        z-index: -1;
    }
}