.description {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 879px;
    margin-top: 17px;
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
}