.scheme {
    padding: 51px 0 46px 0;
    min-height: 454px;
    background-color: #f3f3f3;
    &__wrapper{
        margin-top: 33px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: -44px;
    }
    &__item {
        max-width: 257px;
        margin-bottom: 44px;
    }
    &__icon {
        display: block;
        margin: 0 auto;
    }
    &__subheader {
        margin-top: 12px;
        text-align: center;
        color: $main_color;
        font-size: 16px;
        font-weight: 700;
    }
    &__descr {
        margin-top: 10px;
        text-align: center;
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    }
}